---
title: Getting Started with Pivotal CF
---

Welcome to Pivotal CF!

This guide is intended to walk you through deploying the installation virtual machine, setting up your PaaS, targeting Elastic Runtime, and pushing your first app. If at any time you experience a problem following the steps below, try checking the [Known Issues](#known_issues) at the bottom of this guide, or refer to the [Troubleshooting Guide](../customizing/troubleshooting.html) for more tips. Once you're done, explore the rest of the documentation to learn more about Pivotal CF and the Pivotal One product suite.

## <a id='requirements'></a>Requirements ##

Before you begin, ensure your system meets the following prerequisites:

* vSphere 5.0, 5.1, 5.5. (**Recommended**: 5.1)
* vSphere editions: standard and above
* The following vSphere user privileges:
	* Datastore (Allocate space, Browse datastore, Low-level file operations, Remove file, Update virtual machine files)
	* Folder (All)
	* Network (Assign network)
	* Resource (All)
	* vApp (All)
	* Virtual machine (All)
* Ability to create a wildcard DNS record to point to your router or load balancer
* No DHCP on the network: DHCP prevents static IP addresses from being re-allocated
* Turn hardware virtualization off if your vSphere hosts do not support VT-X/EPT. If you are unsure whether the VM hosts support VT-x/EPT, then you may turn this setting off. If you leave this setting on and the VM hosts do not support VT-x/EPT, then each VM will require manual intervention in vCenter to continue powering on without the Intel virtualized VT-x/EPT. Refer to the vCenter help topic at [Configuring Virtual Machines > Setting Virtual Processors and Memory > Set Advanced Processor Options](http://pubs.vmware.com/fusion-5/index.jsp?topic=%2Fcom.vmware.fusion.help.doc%2FGUID-38178690-1234-4843-B135-4063F9AA73E4.html) for more information.
* Shared storage input/output operations per second (IOPS) at least 10,000
* Twice as many available IPs as instances
- **cf** command line interface tool version 5.4.3 or higher. Refer to the help topic on [installing the cf CLI tool](../devguide/deploy-apps/install-ruby-cli.html) for more information.
* Capacity for the following virtual machines:

<style type="text/css">
.table {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.table th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
.table tr {background-color:#d4e3e5;}
.table td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.table tr:hover {background-color:#ffffff;}
</style>


<table border="1" class="table" >
<tr><th><strong>INSTANCES</strong></th><th><strong>VM</strong></th><th><strong>RAM (GB)</strong></th><th><strong>DISK (GB)</strong></th><th><strong>CPU</strong></th></tr>
<tr><td>1</td><td>NATS</td><td>1</td><td>10</td><td>1</td></tr>
<tr><td>1</td><td>Health Manager</td><td>3</td><td>36</td><td>1</td></tr>
<tr><td>1</td><td>NFS Server</td><td>1</td><td>100</td><td>1</td></tr>
<tr><td>1</td><td>Cloud Controller Database</td><td>1</td><td>4</td><td>1</td></tr>
<tr><td>1</td><td>Cloud Controller</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>Router</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>Syslog</td><td>1</td><td>10</td><td>1</td></tr>
<tr><td>1</td><td>Collector</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>UAA Database</td><td>1</td><td>10</td><td>1</td></tr>
<tr><td>1</td><td>UAA</td><td>1</td><td>3</td><td>1</td></tr>
<tr><td>1</td><td>SAML Login</td><td>1</td><td>3</td><td>1</td></tr>
<tr><td>1</td><td>Console Database</td><td>1</td><td>3</td><td>1</td></tr>
<tr><td>1</td><td>DEA</td><td>16</td><td>11</td><td>2</td></tr>
<tr><td>1</td><td>Loggregator Server</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1</td><td>Loggregator Router</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>6</td><td>Compilation</td><td>1</td><td>4</td><td>2</td></tr>
<tr><th><strong>21</strong></th><th><strong>TOTALS</strong></th><th><strong>33</strong></th><th><strong>204</strong></th><th><strong>18</strong></th></tr>
</table>

## <a id='deploy_vm'></a>Deploying the Installation Virtual Machine ##


**Goal**: Create a virtual machine to install and manage Pivotal CF on vSphere.

1. Refer to the [Known Issues](#known_issues) section before getting started.
2. Download the Pivotal CF .ova file.
3. Login to vCenter.
4. Select the **VM and Templates** view.

 <%= image_tag("guide/vm_template_view.png") %>
5. Right click on your datacenter and select **New Folder**.

 <%= image_tag("guide/new_folder.png") %>

6. Name the folder "pivotal_cf" and select it.

 <%= image_tag("guide/folder_name.png") %>

7. Select **File > Deploy OVF Template**.

 <%= image_tag("guide/deploy_ova.png") %>

8. Select the .ova file and click **Next**.

 <%= image_tag("guide/next.png") %>

9. Review the product details and click **Next**.
10. Accept the license agreement and click **Next**.
10. Name the virtual machine and click **Next**.

 <%= image_tag("guide/vm_name.png") %>

 **Note**: The selected folder is the one you created.

11. Select a vSphere cluster and click **Next**.

 <%= image_tag("guide/anchovy-cluster.png") %>

12. Select a resource pool and click **Next**.

12. Select a host and click **Next**.

 **Note**: Hardware virtualization must be off if your vSphere host does not support VT-X/EPT. Refer to the [Requirements](#requirements) list for more information.

 <%= image_tag("guide/host.png") %>

13. Select a storage destination and click **Next**.

 <%= image_tag("guide/storage.png") %>

14. Select a disk format and click **Next**.

 <%= image_tag("guide/disk_format.png") %>

15. Select a network and click **Next**.

 <%= image_tag("guide/network.png") %>

16. Enter network information and passwords for the VM admin user and click **Next**.

 **Note**: The IP Address you enter will be the location of the Pivotal CF interface.

 <%= image_tag("guide/vm_admin.png") %>

17. Check the **Power on after deployment** checkbox and click **Finish**. Once the VM boots, the interface is available at the IP address you specified.

 **Note**: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.

## <a id='paas'></a>Setting Up Your PaaS ##

**Goal**: Configure VMware vSphere, Elastic Runtime, and MySQL.

### <a id='interface'></a>Understanding the Pivotal CF Interface ###

1. Browse to the interface IP address you specified above.

 <%= image_tag("guide/pivotal_cf.png") %>

1. Create a **User name** and **Password** and log in to access the interface.

 **Note**: Save your password in a backed-up location. If you lose your password, your installation will be unmanageable.

 <%= image_tag("guide/interface.png") %>


 - **A**---**Product Dashboard**: Displays product tiles for each installed product in your PaaS.

   - **Add a new product**: Navigates to the Add Product view. You can either add a new product or import the configuration for a previously created product.

 - **B**---**User account menu**: Use this menu to change your password or log out.

 - **C**---**Actions menu**: Includes the following options:

   - **Import installation**: Navigates to the Import installation view. Select this option to import an existing Pivotal CF installation.
   - **Export activity data**: Downloads a directory containing the the config file for the installation, the deployment history, and version information.

 - **D**---**Pending Changes view**: Displays queued installations and updates that will install during the next deploy.

 **Note**: Installs and updates automatically execute in the correct order such that prerequisites install before the update that depends on them.

### <a id='config_tiles'></a>Configuring Included Products ###

1. Under vmware vSphere, click **Configure**.

 <%= image_tag("guide/pill_vsphere.png") %>

1. Enter your vCenter IP and credentials and click **Save**.

 <%= image_tag("guide/vcenter_cred.png") %>

 **Note**: This user must have create and delete privileges for VMs and folders.

1. Select **vSphere configuration**, specify the installation resources, and click **Save**.

 <%= image_tag("guide/config_vcenter.png") %>

1. Select **Network configuration**, enter the Pivotal CF IP ranges, DNS, and gateway settings, and click **Save**. The Pivotal CF VMs will use the **IP Range** you specify. **Reserved IP Ranges** are blacklisted from the installation.

 <%= image_tag("guide/config_network.png") %>

1. Select **NTP servers**, enter a comma-delimited list of time server addresses, and click **Save**.

 <%= image_tag("guide/ntp_servers.png") %>

1. Select **Resource Sizes**, accept the defaults or make necessary changes, and click **Save**.

 <%= image_tag("guide/vsphere_rsc.png") %>

1. Click **Product Dashboard** to exit the configuration wizard.

1. Click **Add a new product**.

 <%= image_tag("guide/add_prod.png") %>

1. Under **Elastic Runtime**, click **Add**.

 <%= image_tag("guide/pill_runtime.png") %>

1. **(Optional)** Enter at least one HAProxy IP address. You must point your DNS to this IP unless you are using your own load balancer.

 <%= image_tag("guide/blank_haprox.png") %>

1. **(Required if using HAProxy)** Click **Generate Self-Signed RSA Certificate**.

1. **(Required if using HAProxy)** Enter at least the following three domains, then click **Save**:

 * The system domain in wildcard format.
 * The apps domain in wildcard format.
 * The domain for your app(s).

 <%= image_tag("guide/rsa_cert.png") %>

1. **(Required if using HAProxy)** The **Private Key PEM** and **Certificate Key PEM** fields now contain certificate keys. Click **Save**.

 <%= image_tag("guide/filled_haprox.png") %>

1. Enter two domains for your Cloud Controller installation and click **Save**. The system domain is used to target and push apps to Elastic Runtime. The application domain is used to serve apps. Set up wildcard DNS records for these domains as described in the next step.

 <%= image_tag("guide/cloud_cont.png") %>

1. Select **Router** and enter an IP address. The wildcard DNS records should point to this IP address or to a load balancer.

 <%= image_tag("guide/router.png") %>

1. **(Optional)** Select **SAML Login** and enter the URL of an SSO appliance to connect to Active Directory servers in your organization. Elastic Runtime's User Account and Authentication server uses this address.

 <%= image_tag("guide/saml_login.png") %>

1. Select **Console**, enter your reply-to and SMTP email information, and click **Save**. The console uses these settings to send invitations and confirmations to console users.

 <%= image_tag("guide/console.png") %>

1. Select **Resource Sizes**, accept the defaults or make necessary changes, and click **Save**.

 <%= image_tag("guide/runtime_rsc.png") %>

1. Click **Product Dashboard** to exit the configuration wizard.

1. Click **Add a new product**.

 <%= image_tag("guide/add_prod.png") %>

1. Under MySQL Dev, click **Add**.

 <%= image_tag("guide/pill_mysql.png") %>

1. Configure the MySQL resource sizes or keep the default values, then click **Product Dashboard** to exit the configuration wizard.

 <%= image_tag("guide/mysql_rsc.png") %>

1. Click **Install**.

 <%= image_tag("guide/install.png") %>

1. Your updated Pivotal CF installation begins deploying.

 <%= image_tag("guide/deploy_prog.png") %>

1. When the deployment is finished, a success message appears.

 <%= image_tag("guide/deploy_success.png") %>

 **Note**: On the recommended hardware infrastructure, deployment should take less that one hour and require no user intervention.

### <a id='install_addl'></a>Installing Additional Products and Versions ###

Choose from the following two options for installing additional products and versions:

1.  Add product view:- **Add a new product**: Navigates to the Add Product view. You can either add a new product or import the configuration for a previously created product.

2. Actions menu **C**---**Actions menu**: Includes the following options:

  - **Import installation**: Navigates to the Import installation view. Select this option to import an existing Pivotal CF installation.

**Note:**
 * You cannot install two products with the same name. This includes different versions of the same product.
 * Updates and installs automatically execute in the correct order such that
 * You can import and existing installation with all assets, and the assets appear in the correct locations.

## <a id='target'></a>Target Elastic Runtime ##

The next step is to use the **cf** tool to target your Elastic Runtime installation. Make sure you have installed the **cf** tool according to the instructions on docs.cloudfoundry.com.

1. Open a terminal on a Mac or *nix computer.
2. Login to your Cloud Controller by targeting 'api' followed by the system domain. Refer to **Elastic Runtime > Configure > Domains** if you do not remember this domain.

 ```
 $ cf target api.your.domain
 $ cf login admin
 Password> ***********
 ```

  **Note**: Refer to **Elastic Runtime > Credentials** for the UAA admin and password. You can also use the user that you created in the console, or create another user with the create-user command.

3. Switch to the org and space you created in the Developer Console.

  ```
  cf target -o my-awesome-org
  Switching to organization my-awesome-org... OK
  1: development
  2: production
  3: staging
  Space> 1
  Switching to space development... OK

  Target Information (where will apps be pushed):

  CF instance: http://api.yourdomain (API version: 2)
  user: admin
  target app space: development (org: my-awesome-org)
  ```

4. Switch to the directory of an application you would like to push to Elastic Runtime.

 ```
 $ cd someapp
 ```

5. Push the app to Elastic Runtime.

 ```
 $ cf push someapp
 ```

  Refer to the Cloud Foundry documentation for an overview and examples of the cf command line tool.

## <a id='known_issues'></a>Known Issues and Important Tips for this Release ##

 Version 1.0.0.0 of Pivotal CF includes the following known issues:

 * vSphere folder names with slashes in the name will cause failures.
 * Your app domain must be different than your system domain to protect against deploying apps called "uaa."
 * The Cloud Controller blobstore will continue to grow as users deploy apps. Garbage collection of the blobstore will be forthcoming in a subsequent release.
 * If vSphere performance data is not available, a deploy will result in a divide by zero error.
 * The network you use must be outside of any administrator-created sub-folders in vCenter.

