---
title: Pivotal CF Getting Started (v.0.3.1)
---

## <a id='requirements'></a>Requirements ##

* vSphere 5.0, 5.1, 5.5. (**Recommended**: 5.1)
* vSphere editions: standard and above
* vSphere user privileges to create VMs, disk paths, and VM folders
* Ability to create a wildcard DNS record to point to your router or load balancer
* No DHCP on the network: DHCP prevents static IP addresses from being re-allocated
* A host with hardware virtualization turned off
* Shared storage input/output operations per second (IOPS) at least 10,000
* Twice as many available IPs as instances
* Capacity for the following virtual machines:

| **INSTANCES**        | **VM**        | **RAM (GB)** | **DISK (GB)**  | **CPU**  |
| :-------- | :-------- | :------- | :----------- | :-------- |
| 1 | NATS | 1 | 10 | 1 |
| 1 | Health Manager | 3 | 36 | 1 |
| 1 | NFS Server | 1 | 100 | 1 |
| 1 | Cloud Controller Database | 1 | 4 | 1 |
| 1 | Cloud Controller | 1 | 2 | 1 |
| 1 | Router | 1 | 2 | 1 |
| 1 | Syslog | 1 | 10 | 1 |
| 1 | Collector | 1 | 2 | 1 |
| 1 | UAA Database | 1 | 10 | 1 |
| 1 | UAA | 1 | 3 | 1 |
| 1 | SAML Login | 1 | 3 | 1 |
| 1 | Console Database | 1 | 3 | 1 |
| 1 | DEA | 16 | 11 | 2 |
| 1 |Loggregator Server | 1 | 2 | 1 |
| 1 |Loggregator Router | 1 | 2 | 1 |
| 6 | Compilation | 1 | 4 | 2 |
|**21**|**TOTALS**|**33**|**204**|**18**|

## <a id='deploy_vm'></a>Deploying the Installation Virtual Machine ##


**Goal**: Create a virtual machine to install and manage Pivotal CF on vSphere. You will install Pivotal CF in a later section.

1. Refer to the [Known Issues](#known_issues) section before getting started.
2. Download the Pivotal CF .ova file.
3. Login to vCenter.
4. Select the **VM and Templates** view.

 <%= image_tag("guide/vm_template_view.png") %>
5. Right click on your datacenter and select **New Folder**.

 <%= image_tag("guide/new_folder.png") %>

6. Name the folder "Pivotal CF" and select it.

 <%= image_tag("guide/folder_name.png") %>

7. Select **File > Deploy OVF Template**.

 <%= image_tag("guide/deploy_ova.png") %>

8. Select the .ova file and click **Next**.

 <%= image_tag("guide/next.png") %>

9. Review the product details and click **Next**.
10. Accept the license agreement and click **Next**.
10. Name the virtual machine and click **Next**.

 <%= image_tag("guide/vm_name.png") %>

 **Note**: The selected folder is the one you created.

11. Select a vSphere cluster and click **Next**.

 <%= image_tag("guide/anchovy-cluster.png") %>

12. Select a resource pool and click **Next**.

12. Select a host and click **Next**.

 **Note**: Hardware virtualization must be off for the host you select.

 <%= image_tag("guide/host.png") %>

13. Select a storage destination and click **Next**.

 <%= image_tag("guide/storage.png") %>

14. Select a disk format and click **Next**.

 <%= image_tag("guide/disk_format.png") %>

15. Select a network and click **Next**.

 <%= image_tag("guide/network.png") %>

16. Enter network information and passwords for the VM admin user and click **Next**.

 **Note**: The IP Address you enter will be the location of the Pivotal CF interface.

 <%= image_tag("guide/vm_admin.png") %>

17. Check the **Power on after deployment** checkbox and click **Finish**. Once the VM boots, the interface is available at the IP address you specified.

 **Note**: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.

## <a id='install_cf'></a>Installing Cloud Foundry ##

**Goal**: Install Cloud Foundry via a web application running in the VM you just deployed.

1. Browse to the interface at the IP address you specified above.

 <%= image_tag("guide/pivotal_cf.png") %>

1. Create a **User name** and **Password**.

 **Note**: Save your password in a backed-up location. If you lose your password, your installation will be unmanageable.

1. Under VMware vSphere, click **Configure**.

 <%= image_tag("guide/pill_vsphere.png") %>

1. Enter your vCenter IP and credentials and click **Save**.

 <%= image_tag("guide/vcenter_cred.png") %>

 **Note**: This user must have create/delete privileges for VMs and folders.

1. Select **vSphere configuration**, specify the installation resources, and click **Save**.

 <%= image_tag("guide/config_vcenter.png") %>

1. Select **Network configuration**, enter the Pivotal CF IP ranges, DNS, and gateway settings, and click **Save**. The Pivotal CF VMs will use the **IP Range** you specify. **Reserved IP Ranges** are blacklisted from the installation.

 <%= image_tag("guide/config_network.png") %>

1. Select **NTP servers**, enter a comma-delimited list of time server addresses, and click **Save**.

 <%= image_tag("guide/ntp_servers.png") %>

1. Click **Back to Install** to return to the **Install** page.

1. Click **Add a new product**.

 <%= image_tag("guide/add_prod.png") %>

1. Under Runtime, click **Add**.

 <%= image_tag("guide/pill_runtime.png") %>

1. Enter two domains for your Cloud Controller installation and click **Save**. The system domain is used for targeting and pushing apps to Cloud Foundry. The application domain is used for serving apps. Set up wildcard DNS records for these domains as described in the next step.

 <%= image_tag("guide/cloud_cont.png") %>

1. Select **Router** and enter an IP address. The wildcard DNS records should point to this IP address or to a load balancer.

 <%= image_tag("guide/router.png") %>

1. Select **SAML Login** and enter the URL of an SSO appliance to connect to Active Directory servers in your organization. Cloud Foundry's User Account and Authentication server uses this address. For more information about configuring an SSO appliance, refer to the SSO Appliance topic.

 <%= image_tag("guide/saml_login.png") %>

1. Select **Console**, enter your reply-to and SMTP email information, and click **Save**. The console uses these settings to send invitations and confirmations to console users.

 <%= image_tag("guide/console.png") %>

1. Click **Back to Install** to return to the **Install** page.
15. Under MySQL Dev, click **Add**.

 <%= image_tag("guide/pill_mysql.png") %>

1. Configure MySQL or keep the default values, then click **Back to Install** to return to the **Install** page.
1. Click **Install**.

 <%= image_tag("guide/install.png") %>

1. Your Pivotal CF installation begins deploying.

 <%= image_tag("guide/deploy_prog.png") %>

1. When the deployment is finished, a success message appears.

 <%= image_tag("guide/deploy_success.png") %>

 **Note**: On the recommended hardware infrastructure, deployment should take less that one hour and require no user intervention.

## <a id='target'></a>Target Cloud Foundry ##

The next step is to use the **cf** tool to target your Cloud Foundry installation. Make sure you have installed the **cf** tool according to the instructions on [docs.cloudfoundry.com|http://docs.cloudfoundry.com/docs/using/managing-apps/cf/index.html].

1. Open a terminal on a Mac or *nix computer.
2. Login to your Cloud Controller by targeting 'api' followed by the system domain. Refer to **Runtime > Configure > Domains** if you do not remember this domain.

 ```
 $ cf target api.your.domain
 $ cf login admin
 Password> ***********
 ```

  **Note**: Refer to **Runtime > Credentials** for the UAA admin and password. You can also use the user that you created in the console, or create another user with the create-user command.

3. Switch to the org and space you created in the Console.

  ```
  cf target -o my-awesome-org
  Switching to organization my-awesome-org... OK
  1: development
  2: production
  3: staging
  Space> 1
  Switching to space development... OK

  Target Information (where will apps be pushed):

  CF instance: http://api.yourdomain (API version: 2)
  user: admin
  target app space: development (org: my-awesome-org)
  ```

4. Switch to the directory of an application you would like to push to Cloud Foundry.

 ```
 $ cd someapp
 ```

5. Push the app to Cloud Foundry.

 ```
 $ cf push someapp
 ```

  Refer to the Cloud Foundry documentation at [docs.cloudfoundry.com](http://docs.cloudfoundry.com/docs/using/managing-apps/cf/)] for an overview and examples of the cf command line tool.

## <a id='known_issues'></a>Known Issues and Important Tips for this Release ##

 Version 0.3.1 of Pivotal CF includes the following known issues:

 * vSphere folder names with slashes in the name will cause failures.
 * A vCenter password starting with a special character will cause failures.
 * You must use the UAAC gem to create additional admin users or change the admin user's password.
 * Your app domain must be different than your system domain to protect against deploying apps called "uaa."
 * The Cloud Controller blobstore will continue to grow as users deploy apps. Garbage collection of the blobstore will be forthcoming in a subsequent release.
 * **Add Services** and **Marketplace** features of the Console are not functional.
 * Cloud Foundry deployments provisioned to a resource pool cannot be deleted using the Pivotal CF interface and must be deleted using vCenter.
 * Clicking **Install** with empty vSphere settings will raise an exception.
 * If vSphere performance data is not available, a deploy will result in a divide by zero error.
 * HTTPS is turned off for Cloud Foundry in this release.
 * The network you use must be outside of any folders in vCenter.
 * If the install fails, check vSphere to ensure that the IP ranges you requested are still available.


