---
breadcrumb: Pivotal CF Documentation
title: Getting Started with Pivotal CF
---

Welcome to Pivotal CF!

This guide is intended to walk you through deploying the installation virtual
machine, setting up your PaaS, targeting Elastic Runtime, and pushing your first
app.
If at any time you experience a problem following the steps below, try checking
the Known Issues, or refer to the Troubleshooting Guide for more tips.
Once you have completed the steps in this guide, explore the documentation on
[docs.pivotal.io](http://docs.pivotal.io) to learn more about Pivotal CF
and the Pivotal One product suite.

## <a id='system'></a>Step 1: Confirm System Requirements ##

Before you begin your Pivotal CF deployment, ensure that your system meets the
minimum requirements.
The requirements include capacity for the virtual machines necessary for the
deployment, a supported version of the cf command line interface tool, and
certain user privileges.
Refer to the [Prerequisites to Deploying Operations Manager and Elastic Runtime](../customizing/requirements.html) topic for the complete list.

## <a id='deploy'></a>Step 2: Deploy Pivotal CF Installation Virtual Machine ##

Download the Pivotal CF .ova file and deploy it.
The procedure you follow depends on the IaaS you use:

* [Deploying Operations Manager to vSphere](../customizing/deploying-vm.html)
* [Deploying Operations Manager to vCloud Air and vCloud](../customizing/pcf-vchs-vcloud.html)

## <a id='paas'></a>Step 3: Set Up Your PaaS ##

**Goal**: Configure and install Ops Manager Director (included), Elastic
Runtime, and Pivotal MySQL Dev.
Skip the import steps for Elastic Runtime or Pivotal MySQL Dev if you do not
want to import these products.

1. Browse to the interface IP address you specified in Step 2.

    <%= image_tag("guide/pivotal-cf.png") %>

1. Create a **User name** and **Password** and log in to access the interface.

### <a id='import-tiles'></a>Import Products ###

1. Download Elastic Runtime and Pivotal MySQL Dev from [Pivotal Network](https://network.pivotal.io).

1. From the Available Products view, click **Import a Product**.

    <%= image_tag("guide/import-prod.png") %>

1. Select the Elastic Runtime .zip file that you downloaded from Pivotal Network, then click **Open**. After the import completes, Elastic Runtime appears in the Available Products view.

1. Repeat the previous step for Pivotal MySQL Dev.

1. In the Available Products view, hover over Elastic Runtime and click **Add**. Repeat this step for Pivotal MySQL Dev.

<%= image_tag("guide/add-products.png") %>

### <a id='configure-vmware'></a>Configure Ops Manager Director ###

Your Ops Manager download includes a tile for the version of Ops Manager
Director that corresponds to your IaaS.
Refer to one of the following topics for help configuring your Ops Manager
Director product tile:

* [Configuring Ops Manager Director for VMware vSphere](../customizing/vsphere-config.html)
* [Configuring Ops Manager Director for vCloud Air and vCloud](../customizing/vchs-vcloud-config.html)

### <a id='configure-er'></a>Configure Elastic Runtime ###

1. Click the **Elastic Runtime** tile.

    <%= image_tag("guide/click-er.png") %>

1. Select **Assign Networks**. Elastic Runtime runs on the network you select.

    <%= image_tag("guide/assign-networks-1_3.png") %>

1. **(vSphere Only)** Select **Assign Availability Zones**. These are the
Availability Zones you [create](../customizing/vsphere-config.html#create-az)
when configuring Ops Manager Director.
    * Select an Availability Zone under **Place singleton jobs**. Ops Manager
	runs any job with a single instance in this Availability Zone.
	* Select one or more Availability Zones under **Balance other jobs**. Ops
	Manager balances instances of jobs with more than one instance across the
	Availability Zones you specify.

    <%= image_tag("guide/availability-zones-1_3.png") %>

1. In the left column, select **HAProxy**.

1. The value you enter in the **HAProxy IPs** field depends on whether you are
using your own load balancer or the HAProxy load balancer.
    * **Your own load balancer**: Leave this field blank.
    * **HAProxy load balancer**: Enter at least one HAProxy IP address. Point your DNS to this address.

    For more information, refer to the [Configuring Pivotal CF SSL Termination](../opsguide/ssl-term.html) topic.
For help understanding the Elastic Runtime architecture, refer to the
[Architecture](../concepts/architecture/) topic.

    <%= image_tag("guide/ha-proxy-1_3.png") %>

1. <a id='generate-rsa-cert'></a>If you are using a signed **SSL Certificate**
from a known certificate authority (CA), copy and paste its values for
**Certificate PEM** and **Private Key PEM** into the appropriate text fields.
If you have an **Intermediate CA** paste it in the same box below the
Certificate PEM.
Alternatively, complete the following two steps to generate self-signed RSA
certificates.
    * Check the **Trust Self-Signed Certificates** checkbox, then click **Generate Self-Signed RSA Certificate**.
    <%= image_tag("guide/gen-ssl.png") %>
    * Enter your system and app domains in wildcard format. Optionally, also add any custom domains in wildcard format. Click **Generate**.

    <%= image_tag("guide/enter-ssl-domains.png") %>

1. The **Certificate Key PEM** and **Private Key PEM** fields now contain
certificate keys.
Click **Save**.

1. Select **Router IPs**.
The value you enter in the **Router IPs** field depends on whether you are
using your own load balancer or the HAProxy load balancer.
    * **Your own load balancer**: Enter the IP address(es) for Pivotal CF that you registered with your load balancer. Refer to the [Using Your Own Load Balancer](../customizing/custom-load-balancer.html) topic for help using your own load balancer with Pivotal CF.
    * **HAProxy load balancer**: Leave this field blank.

1. Click **Save**.

    <%= image_tag("guide/router-ip-1_3.png") %>

1. Select **Cloud Controller** and enter the system and application domains.
    * The system domain defines your target when you push apps to Elastic
	Runtime
    * The application domain defines where Elastic Runtime should serve your
	apps

    <%= image_tag("guide/cloud-controller-1_3.png") %>

    <p class="note"><strong>Note</strong>: You configured wildcard DNS records for these domains in an earlier step. </p>

1. Leave the **Cloud Controller DB encryption key** field blank unless:
    * You deployed Elastic Runtime earlier
    * You then stopped Elastic Runtime, or it crashed
    * You are re-deploying Elastic Runtime with a backup of your Cloud
	Controller database

    Enter your Cloud Controller database encryption key only if these conditions
apply.
See [Backing Up Pivotal CF](../customizing/backup-settings.html) for more
information.

1. Enter your intended maximum file upload size.

1. **(Optional)** Check the **Disable Custom Buildpacks** checkbox.
By default, the cf command line tool gives developers the option of using a
custom buildpack when they deploy apps to Elastic Runtime.
To do so, they use the `-b` option to provide a custom buildpack URL with the
`cf push` command.
The **Disable Custom Buildpacks** checkbox disables the `-b` option.
For more information about custom buildpacks, refer to the
[buildpacks](../buildpacks/) section of the Pivotal CF documentation.

1. Click **Save**.

1. **(Optional - Advanced)** If you are forwarding syslog messages via TCP to a RELP syslog server, complete this step.
Select **External Endpoints**, enter the IP address and port of the syslog aggregator host, and click **Save**.

    <%= image_tag("guide/external-endpoints.png") %>

<p class-'note'>The host must be reachable from the Elastic Runtime network, accept TCP connections, and use the RELP protocol. Ensure syslogd listens on external interfaces.</p>

1. **(Optional - Advanced)** If you are using the VMware SSO appliance for
integration with Active Directory, complete this step.
Select **SSO Config**, enter the URL of an SSO appliance to connect to Active
Directory servers in your organization, and click **Save**.

    <%= image_tag("guide/sso-config-1_3.png") %>

1. **(Optional - Advanced)** If you are using the LDAP endpoint for UAA,
complete this step. Select **LDAP Config** and enter the following information:
    * LDAP server URL
    * LDAP credentials
    * LDAP search base
    * LDAP search filter
    * LDAP server SSL certificate
    * Alternate name for the LDAP server SSL certificate

    Click **Save**.

    <%= image_tag("guide/ldap-1_3.png") %>

1. **(Optional)** Select **SMTP Config**, enter your reply-to and SMTP email
information, and click **Save**.
The console uses these settings to send invitations and confirmations to console
users.
These SMTP settings are required if you want to enable end-user
self-registration.

    <p class="note"><strong>Note</strong>: If you do not configure the SMTP settings using this form, the administrator must create orgs and users using the cf CLI tool. See <a href="../adminguide/cli-user-management.html">Creating and Managing Users with the cf CLI</a> for more information.</p>

    <%= image_tag("guide/smtp-1_3.png") %>

1. Select **Lifecycle Errands**. By default, Ops Manager runs the **Run Smoke Tests** and **Push Console** errands after installing Elastic Runtime. See  [Understanding Lifecycle Errands](../packaging/lifecycle-errands.html) for more information.

    <p class="note"><strong>Note</strong>: The Push Console errand also deploys
	the usage service, which provides data on the count of instances and amount
	of memory that apps consume. When the usage service starts for the first
	time, it executes an API call to purge all application usage events from the
	Cloud Controller Database. Subsequent console and usage service deploys do
	not trigger this API call, and do not purge application usage events.
	</p>

    <%= image_tag("guide/lifecycle-errands-1_3.png") %>

1. Select **Resource Sizes**, accept the defaults or make necessary changes, and
click **Save**.

1. Click the **Installation Dashboard** link to return to the Installation
Dashboard.

### <a id='configure-mysql'></a>Configure MySQL ###

1. Click the **MySQL Dev** tile.

1. Configure the MySQL Service Plan, Lifecycle Errands, and resource sizes.
Assign Availability Zones and a Ops Manager network, then click **Save**.

1. Click the **Installation Dashboard** link to return to the Installation
Dashboard.

### <a id='install'></a>Install Products ###

1. Click **Install**.

     <%= image_tag("guide/install.png") %>

1. Your updated Pivotal CF installation begins deploying.

     <%= image_tag("guide/deploy-progress.png") %>

1. When the deployment is finished, a success message appears.

     <p class="note"><strong>Note</strong>: On the recommended hardware infrastructure, deployment should take less than one hour and require no user intervention.</p>

You now have a fully functional installation of Pivotal CF and Pivotal MySQL
Service.
The following sections will help you start using your PaaS.

## <a id='new-users'></a>Step 4: Create New User Accounts ##

Once you have successfully deployed Pivotal CF, add users to your account.
Refer to the [Creating New Elastic Runtime User Accounts](../customizing/creating-account.html) topic for more information.

## <a id='target'></a>Step 5: Target Elastic Runtime ##

The next step is to use the cf tool to target your Elastic Runtime installation.
Make sure you have [installed the cf tool](../devguide/installcf/install-go-cli.html).
Refer to the Pivotal CF documentation for more information about [using the cf
command line tool](../devguide/installcf/whats-new-v6.html).

<p class="note"><strong>Note</strong>: In Pivotal Operations Manager, refer to <strong>Elastic Runtime > Credentials</strong> for the UAA admin name and password.
You can also use the user that you created in the console, or create another
user with the create-user command. </p>
