---
title: Ops Manager Documentation
owner: Ops Manager
---

<% current_page.data.title = vars.platform_name + " Documentation"  %>

Welcome to <%= vars.platform_name  %> documentation! This topic describes <%= vars.platform_name %> and provides documentation starting points for different <%= vars.platform_name %> users and perspectives.


## <a id="about-pcf"></a> What is <%= vars.platform_name %>?

<%= vars.platform_name  %> is a multi-cloud enterprise platform for running, managing, and optimizing distributed apps and workloads. It offers runtime environments that manage containers using either Kubernetes or Diego.

The <%= vars.platform_name %> platform provides a layer of abstraction that:

* Lets platform operators manage shared resources on one or more cloud infrastructures.

* Hides the complexity of those infrastructures from developers delivering software on the platform.

* Optimizes resource usage and workload uptime.

Operators manage the platform and its shared resources by using the <%= vars.ops_manager %> Installation Dashboard, the <%= vars.ops_manager %> API or Platform Automation. For more information, see [Using Ops Manager](../customizing/ops-man.html).

### <a id="runtimes-services"></a> Runtimes and Services

<%= vars.platform_name %> provides runtime environments for managing, hosting, and updating software workloads, and software services for the hosted workloads to use.

Available runtimes are:

- <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>)
- <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>)

For more information about <%= vars.platform_name %> runtime environments, see [<%= vars.platform_name %> Runtimes](../customizing/runtimes.html).

For all <%= vars.platform_name %> runtime and service documentation, see [<%= vars.platform_name %> Add-Ons](https://docs.pivotal.io/#add-ons).


## <a id="start-here"></a> Where to Start in the Documentation

The most relevant places to start in the <%= vars.platform_name %> documentation depend on the roles you expect to fulfill with the <%= vars.platform_name %> platform.

The topics linked below list the best documentation starting points for these roles:

- [New Users](#new-users)
- [Platform Operators and Architects](#ops-arch)
- [Developers](#dev)
- [Security Professionals](#security)
- [Tile Developers](#tile-dev)

### <a id="new-users"></a> For New Users

For a general introduction to <%= vars.platform_name %> runtimes and how they work, see:

* **<%= vars.app_runtime_abbr %>**
  * Theory: [<%= vars.app_runtime_abbr %> Overview](../concepts/overview.html)
  * Practice: [Getting Started with <%= vars.app_runtime_abbr %>](../pas/intro.html)
    To try Pivotal Web Services, a <%= vars.app_runtime_abbr %> runtime hosted by VMware, follow the 15-minute tutorial [Getting Started with Pivotal Platform](https://pivotal.io/platform/pcf-tutorials/getting-started-with-pivotal-cloud-foundry/).

* **<%= vars.k8s_runtime_abbr %>**
  * Theory: [What is Kubernetes](https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/) in the Kubernetes documentation
  * Practice: [<%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>)](https://docs.pivotal.io/pks/index.html)

### <a id="ops-arch"></a> For <%= vars.platform_name %> Operators and Architects

<%= vars.platform_name %> platform operators and architects assess <%= vars.platform_name %>, plan network topologies, and determine <%= vars.platform_name %> deployment needs. They also install, configure, upgrade, monitor, back up, troubleshoot, and generally maintain an existing <%= vars.platform_name %> deployment.

For planning and installation documentation, see:

* [Architecture and Installation Overview](../installing/index.html)
* [Platform Architecture and Planning](../plan/index.html)
* [Platform Automation](https://docs.pivotal.io/platform-automation)

For documentation about managing <%= vars.platform_name %> after initial deployment, see the [Operator Guide](../opsguide/index.html).

### <a id="dev"></a> For Developers

Developers write and deploy apps, container workloads, and functions to <%= vars.platform_name %>. For developer documentation on <%= vars.platform_name %> runtimes, see:

* **<%= vars.app_runtime_abbr %>**: [<%= vars.app_runtime_abbr %> Developer Guide](../devguide/index.html)
* **<%= vars.k8s_runtime_abbr %>**: [Using Enterprise <%= vars.k8s_runtime_abbr %>](https://docs.pivotal.io/pks/using.html)

### <a id="tile-dev"></a> For <%= vars.platform_name %> Tile Developers

Pivotal partners develop their package software services as _tiles_ for easy integration into <%= vars.platform_name %>. Platform operators install the tiles through a GUI, which lets the developers on the platform use the services.

Tile developers publish tiles on Pivotal Network, where services and tiles are available for download.

For tile developer documentation, see the [<%= vars.platform_name %> Tile Developer Guide](https://docs.pivotal.io/tiledev/).
