---
breadcrumb: PCF PRE-RELEASE DOCUMENTATION
title: Reporting Pre-Release Issues
---

This topic describes how to report and address issues related to Pre-Release, Release Candidate, or Beta versions of products for members of the Pivotal Early Access Program (EAP). Our goal is to get the most relevant information to the Pivotal EAP team so they can address your issue in the quickest and most efficient manner possible.

<p class='note'><strong>Note:</strong> These early access issues should not be routed through Pivotal Support.</p>


## <a id="prerequisites"></a> Prerequisites

Before reporting an issue, <%= vars.recommended_by %> recommends you:

1. Review the [Early Access product documentation](./pcf-docs.html). To access this documentation, you need a username and password Pivotal gives to EAP participants.<br/><br/>
Make sure you are looking at the proper release version. Pivotal continuously updates those documents throughout the release process.<br/><br/>
Not finding what you need? You might also want to see if there is any relevant information in Pivotal's standard product documentation. Try searching for the specific topic that is related to your issue. Pivotal's documentation has search built in to help you find what you need.

1. Check the [Pivotal Knowledge Base](https://community.pivotal.io/s/topic/0TO0P000000IKdUWAW/pivotal-application-service). The Pivotal Knowledge Base contains articles written by Pivotal support engineers, and addresses many of the common issues Pivotal has discovered while working with <%= vars.platform_name %> customers. You can browse or search the Knowledge Base articles at the link above.

1. Go to your customer Pivotal Tracker project to log an issue. If you do not have a Tracker project, reach out to your EAP contact to get one.


## <a id="open-issue"></a> Open an Issue

When opening an issue, <%= vars.recommended_by %> recommends the following tips to help the Pivotal EAP team understand and address your issue as quickly and effectively as possible.

### <a id="title"></a> Create a Well-Formed Title

<%= vars.recommended_by %> recommends that you use a clear and specific one-sentence summary of your issue as the **Title** of your Tracker story. For example, "Using Pivotal Application Service <%= vars.current_major_version %>.0.alpha2, the API calls return `0` values for running apps metrics."

Like the subject line of an email or the title of a shared document, a simple but clear title can help the Pivotal EAP team identify and recognize the point of a tracker story, while a complicated or unclear title can make things harder than necessary. 

### <a id="template"></a> Provide Specific Details

<%= vars.recommended_by %> recommends that you use the following template to provide specific details about your issue in the **Details** section of your Tracker story: 

```
Pivotal Operations Manager version (if applicable): 
<%= vars.product_runtime %> (<%= vars.product_short %>) version:
Other Product(s) and Version(s): 
Enhancement or Bug: 
Summary of the Issue or Situation (attach screenshots as needed): 
Details to reproduce (if needed): 
Additional supporting details: 
IaaS (AWS, Azure, GCP, vSphere or OpenStack): 
Output from running `bosh vms`: 
Output from running `bosh instances`: 
Logs (if applicable and you have them): 
```

#### <a id="problem"></a> Define the Problem or Enhancement

It is critical for the Pivotal EAP team to understand the nature and scope of the problem that you are experiencing. When opening an issue, please provide a detailed and complete description of the problem. <%= vars.recommended_by %> suggests that you include as much of the following information as possible: 

* A brief description of the problem or enhancement request. Try to describe the symptoms clearly, carefully, and using proper terminology.

* Include details about any relevant recent changes to the platform, such as job settings and IaaS changes.

* Indicate any articles that you have already read and any troubleshooting steps that you have already taken.

* Indicate the impact and scope of this issue on your platform or the enhancement request you would like to make.
	* If this is an issue, is the whole platform down, or just part of it? Is one app failing, or are all apps failing? Is one app failing to push, or are multiple? 
	* If this is an enhancement request, can you describe what the goal of the enhancement is? What is the ideal workflow you want to see?

Properly conveying the impact and scope of the problem you are seeing or the exact enhancement you are looking for helps the Pivotal EAP team focus in on the specific issue more quickly.

#### <a id="supporting_info"></a> Include Supporting Information

Please include the following information when relevant:

* List the software and full version numbers (x.y.z) you use. For <%= vars.product_name %>, this includes at least the version of Ops Manager and <%= vars.product_short %>, but should also include any installed Service tiles and their versions.

* List your IaaS version information.

* Provide any relevant details about the environment where you see the issue. For example:
	* Information about the load balancer you are using.
	* A description of your network layout.
	* Details about your hardware and storage.
	* Any non-standard or unsupported changes that have been made to the platform, such as running open-source Cloud Foundry, running without Ops Manager, or running custom tiles.
	<p class='note'><strong>Note:</strong> This should always be a sandbox, testing, or pre-production environment.</p>
  
* Include the **exact** message for any errors you are seeing. Either copy and paste the message, or include a screenshot of it.

* Post screenshots of the Status page for each tile deployed in Ops Manager or the output of `bosh vms --details`. For more information about the `bosh vms` command, see the [BOSH VMs](https://docs.pivotal.io/platform/customizing/trouble-advanced.html#vms) section of the _Advanced Troubleshooting with the BOSH CLI_ topic.

* If any VMs on the Status pages are listed in red or if `bosh vms` lists any VMs as **failing**, obtain and attach logs from the problem VMs. For instructions on obtaining logs, see [How to obtain logs from <%= vars.product_name %>](https://community.pivotal.io/s/article/How-to-Obtain-Logs-from-PCF) in the Pivotal Knowledge Base.

* Specifically, if you are having installation or upgrade problems:
	* Attach a copy of the most recent installation log.
	* If the installation fails to indicate that a particular BOSH task failed, run:

		```
		bosh task TASK-NUMBER --debug
		```
		Where TASK-NUMBER is the task number of the failed BOSH task.<br><br>
		If you use BOSH CLI v2 or later, run:

		```
		bosh -e YOUR-ENV task TASK-NUMBER --debug
		```
		Where:
		* `YOUR-ENV` is the name of your BOSH environment.
		* `TASK-NUMBER` is the task number of the failed BOSH task.
	* Attach the output of the `bosh task` command.

* Please also include the label **EAP** and a label for the most likely product of concern. For example, **pas**, **redis**, or **ops-manager**.


## <a id="information"></a> Additional Information

Additional pointers for interacting with the Pivotal EAP Team Tracker projects:

* You can attach files up to 20&nbsp;M in size directly to an issue. You can attach files over 20&nbsp;M if you split them into 20&nbsp;M chunks, or you can add a link to a Google Doc. If you are concerned about adding log files to your issue, leave them out and mention you can provide them in the issue.

* Use standard formats when sending information to Pivotal. Upload files as plain text, and screenshots in PNG, JPG, or PDF form. Whenever possible, do not use RTF or Microsoft Word documents.
